body {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282C33;
}

.react {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  animation: anim__rotate 8.2s linear infinite;
}
.react__spoke {
  position: absolute;
  border: 0.45rem #55DBF8 solid;
  height: 4rem;
  width: 11rem;
  border-radius: 250%;
}
.react__spoke--1 {
  transform: rotate(60deg);
}
.react__spoke--2 {
  transform: rotate(-60deg);
}
.react__spoke--3 {
  height: 2.2rem;
  width: 2.2rem;
  background-color: #55DBF8;
  border-radius: 50%;
  position: absolute;
}

@keyframes anim__rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
